<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <!--{error}
        {user}-->
        
        <table width="90%" border="1" > <tr> <td> GebrID: </td> <td> RolID </td> <td> Username: </td> <td> Password: </td> <td> E-mail: </td> </tr>
            {error}
            {gebruikers}
            <tr><td>{gebruikerID}</td> <td>{rolID}</td> <td>{username}</td> <td>{password}</td> <td>{email}</td>
                <td> <a href="gebruikers/verwijderen_gebruiker?id={GebruikerID}" onclick="return confirm('Weet u zeker dat u deze gebruiker wil verwijderen?')"></i>verwijderen</a></td>
                <td> <a href="gebruikers/bewerken_gebruiker?id={GebruikerID}">bewerken</a></td>
            {/gebruikers}
            </tr> </table>
    </body>
</html>
